/*These are custom styles*/

html,body{
    word-wrap:break-word;
    height: 97%;
    margin: 0;
}

header {
    width: 100%;
    background-color: lightgreen;
    border-bottom: 5px outset;
    margin:0;
}

nav {
    float:right;
}

aside {
    height: 100%;
}

section {
    height: 100%;
}

article {
    display: block;
    height: 100%;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
    margin:0;
    padding: 10px;
}

h3{
    margin-bottom: -10px;
}

button.modify {
    padding: 10px 15px -15px;
    margin: 35px 0;
}


hr {
    border-color: black;
}

hr.article{
    width: 80%;
}

hr.nav {
    width: 20%;
    float: right;

}
nav.nav {
    float: right;
    text-align: right;
    margin-bottom: -10px;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

.footer,
.push {
    position: relative;
    bottom:0;
    height: 50px;
}


.stockImg{
    height:80%;
    width: 80%;
}



.business {
        display: none; /* Hidden by default */
}